.datatable {
  margin: 0 30px;
  width: calc(100% - 60px);
  font-family: 'Poppins', sans-serif;

  table {
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #1d242e3e;
    border-radius: 5px;
    border-collapse:collapse ;

    th {
      border-collapse: collapse;
      text-align: left; 
    }

    th, td {
      padding: 10px;
      border-bottom: 1px solid #1d242e3e;
      position: relative;
      .float{
          position: absolute;
          top: 55px;
          left: -95px;
          width: 125px;
          height: 86px;
          background-color: #FFFFFF;
          z-index: 3;
          border-radius: 5px;
          box-shadow: -1px 3px 33px -5px rgba(204,204,204,1);
          -webkit-box-shadow: -1px 3px 33px -5px rgba(204,204,204,1);
          -moz-box-shadow: -1px 3px 33px -5px rgba(204,204,204,1);
          .point{
              position: absolute;
              width: 14px;
              height: 14px;
              background-color: #FFFFFF;
              right: 5px;
              top:-7px;
              transform: rotate(45deg);
              border-radius: 2px;
              z-index: 1;
          }
          .container{
              margin-top: 10px;
              display: flex;
              width: 125px;
              height: 25px;
              text-align: center;
              padding: 3px 0;
              span{
                  font-size: 12px;
                  font-family: poppins;
                  color: #1D242E;
              }
          }
      }
    }

    tbody tr {
      border-collapse: collapse;
    }
    thead {
      font-size: 16px;
      font-weight: bold;
      color: #1D242E; 
    }
  }
  .paggination{
    border: 1px solid #1d242e3e;
    width: 30%;
    margin: 10px 0;
    border-radius: 3px;
    display: flex;
    color: #1D242E;
    font-family: poppins;
    font-size: 16px;
    div,span{
      padding:10px 5px;
      width: calc(100%/5);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-right: 1px solid #1d242e3e;
      &:last-child{
        border-right: none;
      }
    }
  }
}
